.cara{
    position: relative;
}

.bigote {
    width: 180px;
    height: 180px;
    left: 100px;
    border-radius: 50%;
    position: absolute;
    color:black;
    box-shadow:
    150px 240px 0 0 currentColor,
    300px 240px 0 0 currentColor;
}

.bigote::before {
    content: "";
    position: absolute;
    left: 30px;
    top: 120px;
    width: 210px;
    height: 120px;
    border-bottom: solid 180px currentColor;
    border-radius: 0 0 0 100%;
    transform: rotate(-40deg);
    transform-origin: right 210px;
}

.bigote::after{
    content: "";
    position: absolute;
    left: 390px;
    top: 120px;
    width: 210px;
    height: 120px;
    border-bottom: solid 180px currentColor;
    border-radius: 0 0 100% 0;
    transform: rotate(40deg);
    transform-origin: left 210px;
}

.mono{
    position:absolute;
    width:300px;   
    height:80px;   
    transform: translate(80px, 600px);
}

.centro{
    position:absolute;
    width:50px;     
    height:80px;    
    left:320px;     
    top:30px;          
    border-radius:8px;
    background-color:#062f2f;
    z-index:10;        
}

.lado{
    position:absolute;
}

.lado::before,
.lado::after{
    content:"";
    position:absolute;
    width:0;
    height:0;
    border-style:solid;
}

.izquierdo{
    left:200px;
}

.izquierdo::before{
    border-width:0 160px 70px 35px;
    border-color:transparent transparent #0e5c5c transparent;
}

.izquierdo::after{
    border-width:70px 160px 0px 35px;
    border-color:#0b4c4c transparent transparent transparent;
    top:70px;
}

.derecho{
    right:0px;
}

.derecho::before{
    border-width:0px 35px 70px 160px;
    border-color:transparent transparent #0e5c5c transparent;
}

.derecho::after{
    border-width:70px 35px 0px 160px;
    border-color:#0b4c4c transparent transparent transparent;
    top:70px;
}

/* 👅 LENGUA */
.lengua{
    position:absolute;
    width:160px;
    height:210px;
    background:linear-gradient(to bottom,#ff4d6d,#ff758f);
    border-radius:50%;
    left:110%;
    top:-235px;
    transform:translateX(-50%);
    z-index:1;
    animation:moverLengua 1.5s infinite ease-in-out;
}

.lengua::after{
    content:"";
    position:absolute;
    width:6px;
    height:90px;
    background:#cc2f52;
    left:50%;
    top:25px;
    transform:translateX(-50%);
    border-radius:10px;
}

@keyframes moverLengua{
    0%{
        transform:translateX(-50%) translateY(0);
    }
    50%{
        transform:translateX(-50%) translateY(15px);
    }
    100%{
        transform:translateX(-50%) translateY(0);
    }
}

.sombrero {
    position: absolute;
    top: 45px;
    left: 89%;
    transform: translateX(-50%);
}

.copa {
    width: 150px;
    height: 130px;
    background: black;
    border-radius: 10px 10px 0 0;
    position: relative;
}

.copa::after {
    content: "";
    position: absolute;
    bottom: 40px;
    width: 100%;
    height: 20px;
    background: #222; /* banda elegante */
}

.ala {
    width: 250px;
    height: 30px;
    background: black;
    border-radius: 50%;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}
    